<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grieta del invocador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="font-size: 28px">Grieta del invocador</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <img src="../../assets/images/mapa/imgMapa.png" alt="">
    <h5 class="centrar">El escenario principal donde se desarrollan las batallas épicas en League of Legends</h5>
    <p class="centrar">Está dividido en tres carriles principales: superior, central e inferior, además de la jungla que se encuentra entre los carriles</p>
    <p class="centrar"> Aquí, cada partida se convierte en una oportunidad inigualable para pulir tus destrezas con un campeón específico, dominar un carril particular o 
      explorar diversas configuraciones de objetos y tácticas
    </p>
  </div>

</ion-content>
