<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 style="text-align: center;">Noticias</h2>
  <p style="text-align: center;">Aca podras ver algunas noticias de league of legends</p>

  <div>
    <a href="https://esports.as.com/league-of-legends/termina-Arena-LoL-Riot-promete_0_1714028582.html">
      <h3 style="text-align: center;">¡Se termina el modo arena!</h3>
    </a>
    <img src="../../assets/images/noticias/noticia1.png" alt="" srcset="">
  </div>

  <div>
    <a href="">
      <h3 style="text-align: center;">¡Se filtra la nueva campeona Briar!</h3>
    </a>
    <img src="../../assets/images/noticias/noticia2.png" alt="" srcset="">
  </div>

  <div>
    <a href="">
      <h3 style="text-align: center;">¿Los iconos del emporio de escencia azul con rp? ¡ESTAFA!</h3>
    </a>
    <img src="../../assets/images/noticias/noticia3.png" alt="" srcset="">
  </div>

  


</ion-content>
