<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>runa-precision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h3 class="centrar">Runas clave</h3>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/pta.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Estrategia ofensiva</h5>
    <p class="centrar">Golpear a un campeón enemigo con 3 ataques básicos consecutivos inflige 30-120 de daño adaptable</p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/cadencia.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Cadencia Letal</h5>
    <p class="centrar">Otorga un (15 % cuerpo a cuerpo/5 % a distancia) de velocidad de ataque durante 6 s cuando se está golpeando a, al menos, un 
      campeón enemigo con cada autoataque
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/pies.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Sobre la marcha</h5>
    <p class="centrar">Atacar y moverse genera acumulaciones de energía. A las 100 acumulaciones, tu siguiente ataque será con Vigor
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/pies.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Conquistador</h5>
    <p class="centrar">Los ataques básicos contra campeones enemigos otorgan acumulaciones. Las habilidades y hechizos que infligen daño a un campeón 
      enemigo siempre otorgan 2 acumulaciones
    </p>

    <h3 class="centrar">Primera ranura</h3>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/sobrecuracion.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">sobrecuracion</h5>
    <p class="centrar">El exceso de curación que recibes se convierte en un escudo de hasta el 10% de tu vida total más 10.
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/triunfo.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Triunfo</h5>
    <p class="centrar"> Los asesinatos y asistencias hacen que recuperes un 15% de la vida que te falte y te otorgan 25 de oro adicional.
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/conecentracion.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Conecentracion profunda</h5>
    <p class="centrar">Durante 5 s tras subir de nivel o conseguir un asesinato o asistencia, el maná que gastes se restaura por completo.
    </p>

    <h3 class="centrar">Segunda ranura</h3>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/celeridad.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Leyenda: celeridad</h5>
    <p class="centrar">Obtienes un 3% de velocidad de ataque y un 1,5% adicional por cada acumulación de Leyenda
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/tenacidad.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Leyenda: tenacidad</h5>
    <p class="centrar">Obtienes un 5% de tenacidad y un 1,5% adicional por cada acumulación de Leyenda
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/tenacidad.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Leyenda: linaje</h5>
    <p class="centrar">Obtienes un 0,8% de robo de vida por cada acumulación de Leyenda
    </p>

    <h3 class="centrar">Tercera ranura</h3>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/gracia.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Golpe de gracia</h5>
    <p class="centrar">Infliges un 10% de daño a los campeones que estén por debajo del 40% de vida
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/corte.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Corte</h5>
    <p class="centrar">Infliges hasta un 4% más de daño a todos los campeones que tengan 150 más de vida máxima que tú
    </p>

    <ion-row class="center-row">
      <ion-col>
        <img src="../../assets/images/runas/batalla.png" alt="Mi Imagen" class="center-image">
      </ion-col>
    </ion-row>

    <h5 class="centrar">Ultima batalla</h5>
    <p class="centrar">Infliges un 5-12% más de daño a los campeones mientras estés por debajo del 60% de vida
    </p>
    

  </div>

</ion-content>
