<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>parches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 style="text-align: center;">Parches</h2>
  <p style="text-align: center;">Aca podras encontrar informacion de los proximos parches, y parches anteriores por si buscas algo en especifico</p>

  <div>
    <p style="text-align: center;">Parche 13.16 16/08</p>
    <img src="../../assets/images/parches/parche1316.png" alt="" srcset="">
  </div>

  <div>
    <p style="text-align: center;">Parche 13.15 02/08</p>
    <img src="../../assets/images/parches/parche1315.png" alt="" srcset="">
  </div>

  <div>
    <p style="text-align: center;">Parche 13.14 19/07</p>
    <img src="../../assets/images/parches/parche1314.png" alt="" srcset="">
  </div>

</ion-content>
