.center-container {
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .image-container p {
    font-size: 14px;
  }