<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Runas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 style="text-align: center;">Runas</h2>
  <p style="text-align: center;">Las runas sirven para diversas cosas, para pegar mas, aguantar mas, pockear, o tener unas ventajas extras</p>

  <div class="ion-text-center">
    <div class="image-container">
      <a href="/runa-precision"><img src="../../assets/images/runas/runa1.png" style="max-width: 35%; height: auto;" alt="Imagen" ></a>
      <a href="/runa-precision"><p>Precision</p></a>
    </div>
  </div>

  <div class="ion-text-center">
    <div class="image-container">
      <img src="../../assets/images/runas/runa2.png" style="max-width: 35%; height: auto;" alt="Imagen" >
      <p>Dominacion</p>
    </div>
  </div>

  <div class="ion-text-center">
    <div class="image-container">
      <img src="../../assets/images/runas/runa3.png" style="max-width: 35%; height: auto;" alt="Imagen" >
      <p>Brujeria</p>
    </div>
  </div>

  <div class="ion-text-center">
    <div class="image-container">
      <img src="../../assets/images/runas/runa4.png" style="max-width: 35%; height: auto;" alt="Imagen" >
      <p>Valor</p>
    </div>
  </div>

  <div class="ion-text-center">
    <div class="image-container">
      <img src="../../assets/images/runas/runa5.png" style="max-width: 35%; height: auto;" alt="Imagen" >
      <p>Inspiracion</p>
    </div>
  </div>

    


</ion-content>
