<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aatrox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h2 style="text-align: center;">Aatrox</h2>
    <h4 style="text-align: center;">La espada Darkin</h4>

    <img src="../../assets/images/campeones/aatrox.png" alt="">
    <p style="text-align: center;">Aatrox y sus hermanos, que alguna vez fueron respetados defensores de Shurima contra el Vacío.
    </p>

    <h5 style="text-align: center;">Habilidades</h5>

    <p>Pasiva: Heraldo de la destruccion</p>
    <p>Cada cierto tiempo, el siguiente ataque básico de Aatrox inflige daño físico adicional
    </p>
    <p>Q: La espada Darkin</p>
    <p>Aatrox golpea el piso con su espada e inflige daño fisico</p>
    <p>W: Cadenas infernales</p>
    <p>Aatrox golpea el suelo e inflige daño al primer enemigo golpeado.</p>
    <p>E: Impulso siniestro</p>
    <p>Se desplaza en una dirección</p>
    <p>R: Destructor de mundos</p>
    <p>Aatrox despliega su forma demoniaca, aterroriza a los súbditos enemigos cercanos, y obtiene daño de ataque, curación aumentada y velocidad de movimiento</p>

    <h4 style="text-align: center;">Build recomendada</h4>
    <h5 style="text-align: center;">Objetos escenciales</h5>
    
    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/goredrink.png" alt="Imagen 1">
        <p>Escudo de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/eclipse.png" alt="Imagen 2">
        <p>Espada de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/drakthaar.png" alt="Imagen 3">
        <p>Sortija de doran</p>
      </div>
    </div>

    <h5 style="text-align: center;">Objetos Situacionales</h5>

    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/item1.png" alt="Imagen 1">
        <p>Escudo de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/item2.png" alt="Imagen 2">
        <p>Espada de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/item3.png" alt="Imagen 3">
        <p>Sortija de doran</p>
      </div>
    </div>

    <h5 style="text-align: center;">Botas</h5>

    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/botas-cdr.png" alt="Imagen 1">
        <p>Botas jonias de lucidez</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/botas-merc.png" alt="Imagen 2">
        <p>Botas mercuriales</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/botas1.png" alt="Imagen 3">
        <p>Tabis de ninja</p>
      </div>
    </div>

    <h5 style="text-align: center;">Orden de compra</h5>

    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/item2.png" alt="Imagen 1">
        <p>Espada doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/goredrink.png" alt="Imagen 2">
        <p>Bebedor de sangre</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/botas1.png" alt="Imagen 3">
        <p>Tabis de ninja</p>
      </div>
    </div>

    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/eclipse.png" alt="Imagen 1">
        <p>Eclipse</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/drakthaar.png" alt="Imagen 2">
        <p>drakthaar</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/sterak.png" alt="Imagen 3">
        <p>Guanelete de sterak</p>
      </div>
    </div>

    <h5 style="text-align: center;">Runas</h5>
    <img src="../../assets/images/runas/runas-aatrox.png" alt="">
    <img src="../../assets/images/runas/runas-aatrox2.png" alt="">

    <h5 style="text-align: center;">Skins</h5>
    <h6 style="text-align: center;">Aatrox justiciero</h6>
    <img src="../../assets/images/skins/aatrox1.png" alt="">

    <h6 style="text-align: center;">Aatrox mecha</h6>
    <img src="../../assets/images/skins/aatrox2.png" alt="">
    

  </div>

</ion-content>
