<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="centrar">ADMIN</h2>

  <div class="center-container">
    <div class="button-container">
      <ion-button expand="block" (click)="redirectToCampeones()">CAMPEONES</ion-button>
      <ion-button expand="block">ITEMS</ion-button>
      <ion-button expand="block">MAPAS</ion-button>
      <ion-button expand="block">MODOS</ion-button>
    </div>
  </div>
  
  

</ion-content>
