<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>objetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 style="text-align: center;">Items</h1>

  <p style="text-align: center;">Los items de league of legends sirven para hacer que tu personaje sea mas fuerte y pueda enfrentarse a sus enemigos</p>

  <div class="container">
    <h2 style="text-align: center;">Iniciales</h2>
    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/item1.png" alt="Imagen 1">
        <p>Escudo de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/item2.png" alt="Imagen 2">
        <a href="/obj-espada-doran"><p>Espada de doran</p></a>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/item3.png" alt="Imagen 3">
        <p>Sortija de doran</p>
      </div>
    </div>

    <h2 style="text-align: center;">Basicos</h2>

    <div class="image-row">
      <div class="image-container">
        <img src="../../assets/images/items/item1.png" alt="Imagen 1">
        <p>Escudo de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/item2.png" alt="Imagen 2">
        <p>Espada de doran</p>
      </div>
      <div class="image-container">
        <img src="../../assets/images/items/item3.png" alt="Imagen 3">
        <p>Sortija de doran</p>
      </div>
    </div>
    
  </div>

</ion-content>
