<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crud-leer-mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crud-leer-mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">ID</ion-label>
      <ion-input type="text" name="txId" [(ngModel)]="registro.id" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre del mapa:</ion-label>
      <ion-input type="text" name="txNombres" [(ngModel)]="registro.nombre_mapa" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Tipo de juego:</ion-label>
      <ion-input type="text" name="txApellidos" [(ngModel)]="registro.titulo" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Descripcion del mapa:</ion-label>
      <ion-textarea type="text" name="txDescripcion" [(ngModel)]="registro.descripcion" required></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Cantidad de jugadores azules:</ion-label>
      <ion-input type="text" name="txcantidad_blue" [(ngModel)]="registro.cantidad_blue" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Cantidad de jugadores rojos:</ion-label>
      <ion-input type="text" name="txcantidad_red" [(ngModel)]="registro.cantidad_red" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Color del mapa:</ion-label>
      <ion-input type="text" name="txcolor_mapa" [(ngModel)]="registro.color_mapa" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button disabled={{buttonLeerDisabled}} (click)="leer()" color="danger" expand="block">Leer Registro</ion-button>
        <ion-button (click)="grabarActualizarAutomatico()" color="danger" expand="block">Grabar Automático</ion-button>
        <ion-button disabled={{buttonEliminarDisabled}} (click)="eliminar()" color="danger" expand="block">Eliminar Registro</ion-button>
        <br><br><br>
        <ion-button disabled={{buttonCrearDisabled}} (click)="grabar()" color="danger" expand="block">Crear Registro</ion-button>
        <ion-button disabled={{buttonActualizarDisabled}} (click)="actualizar()" color="danger" expand="block">Actualizar Registro</ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-label class="ion-text-wrap" position="floating" color="danger"> {{msgError}}</ion-label>
    </ion-row>

  </form>
</ion-content>
