<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="centrar">Crud Mapa</h2>

  <div class="center-container">
    <div class="button-container">
      <ion-button expand="block" (click)="redirectToAgregar()">Agregar</ion-button>
      <ion-button expand="block" (click)="redirectToActualizar()">Modificar</ion-button>
      <ion-button expand="block" (click)="redirectToEliminar()">Eliminar</ion-button>
      <ion-button expand="block" (click)="redirectToLeer()">Leer</ion-button>
      <ion-button expand="block" (click)="redirectToListar()">Listar</ion-button>
    </div>
  </div>
  
  
</ion-content>