<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>crud-listar-mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">crud-listar-mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list padding>
    <!-- Recorremos el arreglo de registros utilizando item-->
    <ion-item *ngFor="let item of registros">
      <!-- Icono al inicio (start)-->
      <!-- <ion-icon name="star" slot="start"></ion-icon> -->
      <!-- Campos de item -->
      <ion-label>{{item.id}}</ion-label>
      <ion-label>{{item.nombre}}</ion-label>
      <ion-label>{{item.titulo}}</ion-label>
      <!-- Icono al final -->
      <!-- <ion-icon name="information-circle" slot="end"></ion-icon> -->
      <!-- routerlink salta a otra pagina-->
      <!-- <ion-button [routerLink]="['/cliente/leer']">Sin ID</ion-button><br/> -->
      <!-- routerlink salta a otra pagina, pero con id del item-->
      <!-- <ion-button [routerLink]="['/cliente/leer',item.id]">Con ID</ion-button><br/> -->
        </ion-item>
  </ion-list>
  
</ion-content>
