<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>mapas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 style="text-align: center;">Mapas</h2>
  <img src="../../assets/images/mapa/imgMapa.png" alt="" srcset="">
  <p style="text-align: center;">Aca podras ver todos los mapas que hay actualmente y los que hubieron, por si no los alcanzaste a ver, conocerlos</p>

  <div>
    <ul>
      <a href="/mapa-gde"><li>Grieta del invocador</li></a>
      <li>Abismo de los lamentos</li>
      <li>Arena</li>
    </ul>
  </div>

</ion-content>
