<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 style="text-align: center;">LeagueGuide</h1>

  <img src="../../assets/images/inicioImg.png" alt="">

  <h6 style="text-align: center;">¡Bienvenido a LeagueGuide! Esta guía móvil te sumergirá en el emocionante mundo de League of Legends y te brindará las herramientas 
    esenciales para mejorar tus habilidades, estrategias y conocimiento del juego. </h6>

  <hr style="color: white;">

  
</ion-content>
